[submodule "游戏/PokeMMO_tools"]
	path = 游戏/PokeMMO_tools
	url = git@github.com:Changes729/PokeMMO_tools.git
[submodule "技术/LeecodeMarkBook"]
	path = 技术/LeecodeMarkBook
	url = https://github.com/Changes729/LeecodeMarkBook.git
[submodule "工作/Workdir-box"]
	path = 工作/Workdir-box
	url = git@github.com:Changes729/Workdir-box.git
[submodule "CAD库"]
	path = CAD库
	url = ./CAD库
